<body>
    <mat-card>
        <b><span>DashBoard</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Toal Category:</h2>
                    <h1 class="title">{{data?.category}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/category']">View Category</button></p>
                </div>
            </div>
        </div>


                <div class="row">
                    <div class="column">
                        <div class="card">
                            <div class="container">
                                <h2 class="title">Toal product:</h2>
                                <h1 class="title">{{data?.product}}</h1>
                                <p><button class="button" [routerLink]="['/cafe/product']"> View Products</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="card">
                                <div class="container">
                                    <h2 class="title">Toal  Bill:</h2>
                                    <h1 class="title">{{data?.bill}}</h1>
                                    <p><button class="button" [routerLink]="['/cafe/bill']"> View Bills </button></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="card">
                                <div class="container">
                                    <h2 class="title"> Manage order:</h2>
                                    <h1 class="title">{{data?.order}}</h1>
                                    <p><button class="button" [routerLink]="['/cafe/order']"> View order </button></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="column">
                              <div class="card">
                                  <div class="container">
                                      <h2 class="title"> Manage User:</h2>
                                      <h1 class="title">{{data?.User}}</h1>
                                      <p><button class="button" [routerLink]="['/cafe/user']"> View User </button></p>
                                  </div>
                              </div>
                          </div>
                      </div>

                    </div>



</div>



</body>
